@font-face {
  font-family: 'BerkaLight';
  src: url('/fonts/BerkaLight9YGyn.eot');
  src: url('/fonts/BerkaLight9YGyn.eot') format('embedded-opentype'),
       url('/fonts/BerkaLight9YGyn.woff2') format('woff2'),
       url('/fonts/BerkaLight9YGyn.woff') format('woff'),
       url('/fonts/BerkaLight9YGyn.ttf') format('truetype'),
       url('/fonts/BerkaLight9YGyn.svg#BerkaLight9YGyn') format('svg');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'BerkaLight';
}
body {
  max-width: 90rem;
  background-color: #121120;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.cloud-gradient {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #FFFFFF, #a3e6ff, #6DD5FA, #2980B9, #9333ea);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-65deg, #FFFFFF, #a3e6ff, #6DD5FA, #2980B9, #9333ea, #121120); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}